@mixin form-require() {
  background-color: red;
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 1px 4px;
  margin-left: 8px;
  border-radius: 2px;
  vertical-align: top;
}

@mixin text-require-position() {
  display: flex;
  align-items: flex-end;
}

@mixin text-form() {
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
}

@mixin clear {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin footer-text {
  margin: 12px 0 16px 0;
  opacity:0.7;
  color: #fff;
  font-size: 9px;
  line-height: 1.2;
}

@mixin side-item{
  position: relative;
  display: block;
  padding: 16px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  touch-action: manipulation;
}

@mixin right-arrow{
  color: #333;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
  transition: all ease-out .2s;
}