.single-container

  = render partial:"devise/header"
  
  %main.single-main
    %section.l-single-container
      %h2.l-single-head.registration 新規会員登録
      
      .l-single-inner.registration-form
        .l-single-content
          %a{ class: "btn-default btn-mail", href: "/signup/step1" }
            %i.icon-mail
            メールアドレスで登録する
          %button{id: "facebook-login", class: "btn-default btn-sns btn-sns-facebook" }
            = link_to' ', class: 'facebook' do
              %i.fab.fa-facebook-square 
              Facebookで登録する

          %button{id: "google-login", class: "btn-default btn-sns btn-sns-google" }
            Googleで登録する
      
      %form{action: "https://www.mercari.com/jp/login/", method: "POST", novalidate: "novalidate"}
  
  = render partial:"devise/footer"
