!!! 5
%html
  %head
.single-container
  %header.single-header
    %h1
      %a{ href: "" }
        %img{ src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2482339763" ,alt: "mercari", width: 120 , height: 33}

  %main.single-main
    %section.l-single-container
      %h2.l-single-head.registration 新規会員登録
      
      .l-single-inner.registration-form
        .l-single-content
          %a{ class: "btn-default btn-mail", href: "/signup/step1" }
            %i.icon-mail
            メールアドレスで登録する
          %button{id: "facebook-login", class: "btn-default btn-sns btn-sns-facebook" }
            = link_to' ', class: 'facebook' do
              %i.fab.fa-facebook-square 
              Facebookで登録する

          %button{id: "google-login", class: "btn-default btn-sns btn-sns-google" }
            Googleで登録する
      
      %form{action: "https://www.mercari.com/jp/login/", method: "POST", novalidate: "novalidate"}
  
  %footer.single-footer
    %nav
      %ul.clearfix
        %li
          %a{ href: "" }プライバシーポリシー
        %li
          %a{ href: "" }メルカリ利用規約
        %li
          %a{ href: "" }特定商取引に関する表記

    %a{ href: "", class: "single-footer-logo" }
      %img{ src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2482339763" ,alt: "mercari", width: 80 , height: 65}
    %p
      %small © 2019 Mercari
