.single-container
  = render partial:"devise/header"

  %nav.progress-bar.signup-bar
    %ol.clearfix
      %li
        会員登録
        %div.progress-status
      %li.active
        電話番号認証
        %div.progress-status
      %li
        お届け先住所入力
        %div.progress-status
      %li
        支払い方法
        %div.progress-status
      %li
        完了
        %div.progress-status










  = render partial:"devise/footer"