.single-container
  = render partial:"devise/header"

  %nav.progress-bar.signup-bar
    %ol.clearfix
      %li.through
        会員登録
        %div.progress-status
      %li.through
        電話番号認証
        %div.progress-status
      %li.through
        お届け先住所入力
        %div.progress-status
      %li.through
        支払い方法
        %div.progress-status
      %li.active
        完了
        %div.progress-status

  %main.single-main
    %section.l-single-container
      %h2.l-single-head.registration 会員登録完了
      %form{action: "https://www.mercari.com/jp/signup/sms_confirmation/?after_save_callback=/jp/", method: "POST", class:"l-single-inner registration-form", novalidate: "novalidate"}
        %input{type: "hidden", name: "__csrf_value", value:"1e07299d9cc4685dd7d8fddc752091c92c45911326c730f8703e5ed95a7811cab7a365a8421cdd97d1d1c61169c41f13f84de4769787f09dd8e9832fc038c8ca6"}
        
        .l-single-content
          .form-group
          %p.comment ありがとうございます。
          %p.comment 会員登録が完了しました。
          = link_to 'メルカリを始める', root_path, class:'btn-default btn-red'
      = render partial:"shared/aside"
  = render partial:"devise/footer"