.aside
  .aside__banner
    .aside__banner__left
      %h2.aside__banner__left__title スマホでかんたんフリマアプリ
      %p.aside__banner__left__Advertising 今すぐ無料ダウンロード
      .aside__banner__left__icon
        .aside__banner__left__icon__image
        %ul.aside__banner__left__icon__link
          %li.aside__banner__left__icon__link__app
          %li.aside__banner__left__icon__link__google
    .aside__banner__right
      .aside__banner__right__image