    
.header
  .header__box
    .header__box__top
      %h1.header__box__top__logo
        = link_to root_path do
          .header__box__top__logo__link
            = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3270184656", size: "134x36", alt: "メルカリロゴ", class: "header__box__top__link__image"

    .header__box__nav
      .header__box__nav__left
        %ul.header__box__nav__left__content
          %li.header__box__nav__left__content__list
            %h2.header__box__nav__left__content__list__heading
              =link_to "#" do
                .header__box__nav__left__content__list__heading__link 
                  %i.header__box__nav__left__content__list__heading__link__icon.fas.fa-list-ul
                  %span.header__box__nav__left__content__list__heading__link__text カテゴリーから探す
          %li.header__box__nav__left__content__list
            %h2.header__box__nav__left__content__list__heading
              =link_to "#" do
                .header__box__nav__left__content__list__heading__link
                  %i.header__box__nav__left__content__list__heading__link__icon.far.fa-tag
                  %span.header__box__nav__left__content__list__heading__link__text ブランドから探す
      .header__box__nav__right
        %li.header__box__nav__right__content__list
          =link_to "#" do
            .header__box__nav__right__content__list__link
              .header__box__nav__right__content__list__mypagelist いいね！一覧
              .header__box__nav__right__content__list__mypagelist お知らせ
              .header__box__nav__right__content__list__mypagelist やることリスト
              .header__box__nav__right__content__list__mypagelist マイページ

              
              

