%footer.item-user_footer
  %nav
    %ul.text-list
      %li.footer-text
        プライバシーポリシー
      %li.footer-text
        メルカリ利用規約
      %li.footer-text
        特定商品に関する表記
  %a.footer-logo
    =link_to root_path do
      =image_tag 'footer_logo.svg', alt: 'mercari-box', height: '65', width: '80', class: 'mercari-box'
  %p.last-text
    %small @2019 Mercari