- 5.times do
  =link_to "#", class: "mypage-item__list__content" do
    = image_tag 'mercari_mypage.png', alt: 'icon', class: 'mypage-item__list__content__icon', height: '48', width: '48'
    .mypage-item__list__content__body 
      .mypage-item__list__content__body__text 事務局から個別通知メッセージ「ログイン通知」
      .mypage-item__list__content__body__time
        %i.fa.fa-history
        %span 1 時間前