.side 
  %nav.mypage-nav
    %ul.mypage-nav__ul
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item" do
          マイページ
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          お知らせ
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          やることリスト
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          いいね！一覧
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          出品する
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          出品した商品 - 出品中
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          出品した商品 - 取引中
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          出品した商品 - 売却済み
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          購入した商品 - 取引中
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          購入した商品 - 過去の取引
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          ニュース一覧
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          評価一覧
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          ガイド
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          お問い合わせ
          %i.fa.fa-chevron-right
    %h3.mypage-nav__head メルペイ
    %ul.mypage-nav--ul
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          売上・振込申請
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          ポイント
          %i.fa.fa-chevron-right
    %h3.mypage-nav__head 設定
    %ul.mypage-nav--list
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          プロフィール
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          発送元・お届け先住所変更
          %i.fa.fa-chevron-right
      
      %li.mypage-nav__ul__li
        = link_to "#", class:"mypage-nav__ul__li__item2" do
          支払い方法
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          メール/パスワード
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          本人情報
          %i.fa.fa-chevron-right
      %li.mypage-nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          電話番号の確認
          %i.fa.fa-chevron-right
      %li.mypage--nav__ul__li
        =link_to "#", class:"mypage-nav__ul__li__item2" do
          ログアウト
          %i.fa.fa-chevron-right