  .footer-buy
    .footer-buy__menu
      =link_to "#", class:"link-to-bottom-icon" do
        プライバシーポリシー
      =link_to "#", class:"link-to-bottom-icon" do
        メルカリ利用規約
      =link_to "#", class:"link-to-bottom-icon" do
        特定商取引に関する表記
    .footer-buy__logo
      .footer-buy__logo__mercari
      =link_to "#", class:"link-to-bottom-mercari-icon" do
        = image_tag "footer_logo.svg", size: "130x65", alt: "フッターロゴ", class: "footer-logo"
    .footer-buy__copyright
      © 2019 Mercari