.wrapper{
  .body{
    color: #f5f5f5;
    .container{
      margin: 40px auto 50px;
      width: 1020px;
      height: 1500px;
      .content{
        float: right;
        width: 700px;
        height: 1292px;
        .user {
          width: 100%;
          height: 200px;
          background-image: image-url('mypage-images.png');
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
        
          &__link {
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 45px;
        
              h2 {
                color:black;
                font-weight: 300;
              }
        
            &__icon {
              display: block;
              margin: 0 auto;
              border-radius: 50%;
            }
        
            &__nickname {
              margin-top: 8px;
              font-size: 18px;
              text-align: center;
            }
        
            &__review {
              display: inline-block;
              height: 16px;
              margin-top: 4px;
              line-height: 1;
              text-align: center;
        
              div {
                display: inline-block;
                height: 16px;
                color: black;
                font-size: 14px;
                line-height: 1;
                margin-left: 16px;
        
                span {
                  display: inline-block;
                  margin-left: 6px;
                  font-weight: bold;
                  
                }
              }
            }
          }
        }
        
        .mypage-tab-container-todo {
          padding: 0px;
          margin: 0;
          background: #fff;
          .mypage-tabs{
            border: 0;
            background: #eee;
            list-style: none;
            &__active {
              background: #fff;
              width: 50%;
              text-align: center;
              vertical-align: top;
              float: left;
              h3 {
                font-weight: bold;
                font-size: 22px;
                a {
                  border-top: 2px solid $RedColor;
                  position: relative;
                  display: block;
                  color: #333;
                  font-size: 16px;
                  line-height: 72px;
                  text-decoration: none;
                  touch-action: manipulation;
                }
              }
            }
            &__inactive {
              width: 50%;
              display: inline-block;
              text-align: center;
              vertical-align: top;
              h3 {
                font-weight: bold;
                font-size: 22px;
                a {
                  position: relative;
                  display: block;
                  color: #333;
                  font-size: 16px;
                  line-height: 72px;
                  text-decoration: none;
                  touch-action: manipulation;
                }
              }
            }
          }
          .tab-content{
            background-color: #fff;
            display: block;
            min-height: 236px;
            padding: 16px;
            color: #888;
            border-bottom: 1px solid #eee;
            .list__found{
              list-style: none;
              padding: 160px 0 60px;
              text-align: center;
            }
            .tab-icon{
              display: block;
              &__body {
                padding: 160px 0 60px;
                background-image: image-url('logo_gray.svg');
                background-repeat: no-repeat;
                background-position: center 40px;
                background-size: 78px 85px;
                color: #ccc;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                &__text{
                  list-style: none;
                  padding: 160px 0 60px;
                  text-align: center;
                  }
              }
            }
          
          .mypage-item {
            position: relative;
            display: block;
            &__list {
              display: block;
              width: 100%;
              &__content {
                position: relative;
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 16px;
                background-color:#fff;
                border-bottom: 1px solid #f5f5f5;
                &:hover {
                  background-color: #f5f5f5;
                }
                i.right {
                  position: absolute;
                  top: 50%;
                  right: 16px;
                  color: black;
                }
                &__body {
                  width: 560px;
                  margin-right: 40px;
                  color: black;
                  font-size: 14px; 
                  &__text{
                    height: 20px;
                    padding: 3px 0;
                  }        
                  &__time {
                    color: #888;
                    padding: 5px 0 0 15px;
                    span {
                      padding-left: 10px;
                      font-size: 14px;
                    }
                  }
                }
              }
            }
        
            .mypage-go {
              border: 0;
              position: relative;
              padding: 16px;
              &__body {
                display: block;
                height: 60px;
                margin: 0 auto;
                background: #eee;
                color: #333;
                line-height: 60px;
                text-align: center;
                text-decoration: none;
                touch-action: manipulation;
              }
            }
          }
        }
          .mypage-tab__container{
            padding: 40px 0 0;
            background: #f5f5f5;
            .mypage-tab__head {
              background: #fafafa;
              line-height: 72px;
              padding: 0 16px;
              display: block;
              margin-block-start: 0.83em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              color: black;
              font-size: 14px;
              font-weight: bold;
            }     
          }
        }
      }
    }
  }
}
