.wrapper{
  background-color:  #f5f5f5;
  .header{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: none;
    background-color: #f5f5f5;
    &__icon{
      margin: 40px 0 0;
    }
  }
  .body{
    padding: 128px 0 200px;
    .payment {
      height: 100%;
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      &__head {
        width: 100%;
        padding: 32px 0;
        color: black;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        border-bottom: solid 2px #f5f5f5;
      }
      .section-buy {
        width: 700px;
        margin: 0 auto;
        height: 432px;
        background-color: #FFF;
        padding-top: 19px;
        &__main {
          text-align: center;
          padding-bottom: 10px;
          &__content-item {
            @include clear;
            &__photo {
              margin-top: 3px;
              height: 128px;
              width: 128px;
              float: left;
              .item-photo{
                height:128px;
                width:128px;
              }
            }
            &__name {
              font-weight: 600;
              margin: 0 auto;
              color: black;
              width: 314px;
              height: 48px;
              margin-top: 3px;
              font-size: 16px;
              float: right;
              padding-right: 300px;
            }
            &__price-fee-box {
              margin-top: 9px;
              color: black;
              clear: both;
              display: flex;
              &__price {
                font-weight: 600;
                font-size: 20px;
                margin-right: 15px;
                padding-left: 250px;
              }
              &__shipping-fee {
                font-size: 14px;
                padding-top: 3px;
              }
            }
          }
          &__point {
            margin: 0 auto;
            width: 320px;
            background-color: #d3d3d3;
            margin-top: 10px;
            color: black;
            font-size: 15px;
            line-height: 48px;
            text-align: center;
          }
          &__price {
            margin: 0 auto;
            width: 350px;
            color: black;
            line-height: 59px;
            display: inline-block;
            padding-left: 20px;
            &__display {
              font-weight: bold;
              &__text {
                float: left;
                font-size: 18px;
              }
              &__fee {
                float: right;
                font-size: 24px;
              }
            }
          }
          .error-text {
            color: #ea352d;
            line-height: 1.5;
            font-size: 14px;
            text-align: center;
          }
          .gray_btn {
            margin: 0 auto;
            font-weight: bold;
            width: 320px;
            background-color: #888;
            margin-top: 10px;
            font-size: 15px; 
            line-height: 50%;
            color: #fff;
            height: 50px;
            text-decoration: none;
          }
          .red_btn {
            margin: 0 auto;
            font-weight: bold;
            width: 320px;
            background-color:$RedColor;
            margin-top: 10px;
            font-size: 15px; 
            line-height: 50%;
            color: #fff;
            height: 50px;
            text-decoration: none;
          }

        }
      
      .section-shipping {
        width: 700px;
        height: 120px;
        background-color: #FFF;
        padding-top: 19px;
        border: solid 2px #f5f5f5;
        &__adress {
          height: 105px;
          margin: 0 auto;
          width: 350px;
          color: #333;
          text-align: left;
          &__box {
            font-weight: bold;
            font-size: 14px;
          }
          &__details {
            font-size: 13px;
          }
          &__change {
            text-align: right;
            font-size: 14px;
            color: #00bfff;
            text-decoration: none;
          }
        }
      }
      .section-bottom {
        width: 700px;
        border-bottom: solid 1px #f5f5f5;
        margin: 0 auto;
        height: 120px;
        background-color: #FFF;
        &__purchase {
          margin:0 auto;
          height: 105px;
          width:350px;
          color: black;
          text-align: left;
          line-height: 16px;
          &__way {
            font-weight: bold;
            font-size: 14px;
          }
          &__card-number {
            font-size: 13px;
            margin-top: 5px;
            height: 20px;
          }
          &__change {
            text-align: right;
            font-size: 14px;
            color: #00bfff;
          }
        }
      }
    }
  }
}
  .footer-buy {
    width: 700px;
    margin: 0 auto;
    height: 160px;
    padding-top: 30px; 
    text-align: center;
    &__menu {
      display: flex;
      justify-content: space-between;
      margin: 0 4px;
      font: 12px;
      padding:0 100px;
      
      .link-to-bottom-icon {
        color: black;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        
      }
    }
    &__logo {
      margin-top: 30px;
    }
    &__copyright {
      font-size: 12px;
      color: black;
      margin-top: 3px;
    }
  }
}