*{
  box-sizing:border-box;
  text-decoration:none;
}

.header{
  width:100%;
  position: relative;
  background-color:white;
  box-shadow: 5px 0px 4px;
  box-sizing:border-box;
  min-width: 1000px;
  &__box{
    margin: 0 auto;
    padding: 8px 300px;
    background-color:white;
    &__top{
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__logo{
        display: block;
        color: #333;
        &__link{
          background: image-url("mercari-logo.png");
          background-position: center;
          background-size: cover;
          height:36px;
          width:134px;
          z-index:10;
          &__image{
            vertical-align: middle;
          }
        }
      }
    }
    &__nav{
      margin: 8px 0 0;
      height:32px;
      &__left{
        float: left;
        line-height:32px;
        display:block;
        &__content{
          list-style: none;
          &__list{
            padding-left: 0;
            position: relative;
            display: inline-block;
            padding: 0 11px;
            cursor: pointer;
            &__heading{
              font-size: 14px;
              font-weight: 400;
              &__link{
                text-decoration: none;
                position: relative;
                height: 32px;
                line-height: 32px;
                &__icon{
                  color: $RedColor;
                  font-size: 12px;
                  margin-right: 4px;
                  font:20px FontAwesome;
                }
                &__text{
                  vertical-align: middle;
                  font-weight: bold;
                  color: black;
                }
              }
            }
          }
        }
      }
        &__right{
          float: right;
          line-height:32px;
          display:block;
          &__content{
            list-style: none;
            &__list{
              position: relative;
              display: inline-block;
              padding: 0 7px;
              cursor: pointer;
              padding: 0 14px;
              &__link{
                position: relative;
                display: block;
                height: 32px;
                line-height: 32px;
                font-size: 0;
                color: #333;
                &__icon{
                  color: #ccc;
                  font-size: 12px;
                  margin-right: 4px;
                  font:20px FontAwesome;
                  display:inline-block;
                }
                &__text{
                  margin-left: 10px;
                  font-size: 14px;
                  line-height:32px;
                }
                &--text-red{
                  background: $RedColor;
                  border: 1px solid $RedColor;
                  color: #fff;
                  float: left;
                  margin: 0 0 0 8px;
                  margin-left: 10px;
                  font-size: 14px;
                  padding: 0 10px;
                  line-height: 30px;
                  border-radius: 4px;
                  text-align: center;
                }
                &--text-blue{
                  background: #fff;
                  border: 1px solid #0099e8;
                  color: #0099e8;
                  float:right;
                  margin: 0 0 0 8px;
                  margin-left: 10px;
                  font-size: 14px;
                  padding: 0 10px;
                  line-height: 30px;
                  border-radius: 4px;
                  text-align: center;
                }
                &__figure{
                  display:inline-block;
                  margin:0;
                  padding:0;
                  &__image{
                    border-radius: 50%;
                    vertical-align:center;
                    display:inline-block;
                    background: image-url("member_photo_noimage_thumb.png");
                    background-position: center;
                    background-size: cover;
                    height:30px;
                    width:30px;
                  }
                  &__text{
                    margin-left: 10px;
                    font-size: 14px;
                    line-height:32px;
                    vertical-align:center;
                }
              }
            }
          }
        }
      }
    }
  }
}