.card{
  height: 265px;
  width: 188px;
  box-shadow: 2px 2px 4px #DDDDDD;
  background-color: #fff;
  margin: 0 15px 20px 0 ;
  border: solid 1px #f5f5f5;
  
   
  .item{
    a{
      :hover{
      outline: solid 1px rgb(51, 184, 255);
      }
    }

    &__datail{
      height: 188px;
      width: 185px;
      position: relative;
      align-items: center;

      &__image{
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        height: 188px;
        width: 185px;
        object-fit: cover;
      }

      &__price{
        align-items: center;
        background: rgba(0,0,0,.4);
        border-radius: 0 14px 14px 0;
        bottom: 8px;
        color: #fff;
        display: inline-flex;
        font-size: 17px;
        height: 28px;
        letter-spacing: .02em;
        margin: 0;
        padding: 0 12px;
        position: absolute;
        z-index: 2;
        color: #fff;
      }
    }
  
    &__explanation{
      max-height: 70px;
      min-height: 70px;
      width: 185px;
      background-color: #fff;
      word-break: break-all;
      padding: 10px 10px 7px;
      overflow: hidden;
      white-space: normal;
      color: black;
      font-size: 16px;
      font-weight: 100;
      position: relative;

      span{
      display: inline-block;
      vertical-align: baseline;
      }

      &__review{
        background-color: #fff;
        height: 15px;
        width:50px;
        position: absolute;
        bottom: 0;
        right: 10px;
        display: flex;
        justify-content: space-between;
        z-index: 3;
        font-size: 14px;


        i{
          padding-right: 6px;
          color: gray;
        }
      }
    }
  }
}

