* {
  box-sizing: border-box;
  text-decoration: none;
}

.label {
  @include text-form;
}
.select {
  @include input-field;
  width: 100%;
  font-size: 16px;
  padding: 16px;
  height: 48px;
  margin-top: 8px;

  
}
.form-group {
  margin-top: 40px;
}
.form-require{
  @include form-require;
}
.form-free {
  @include form-free;
}
.text-require {
  @include text-require-position;
}
.sell-gray-text {
  @include sell-gray-text;
}
.sell-form-box {
  @include sell-form-box;
}
.question {
  display: inline-block;
  color: white;
  border-radius: 50%;
  background-color: #0099e8;
  width: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
}

.item-main {
  background-color:#f5f5f5;

  .item-header {
    height: 128px;
    width: 100vw;

    h1 {
      padding: 40px 0 0;
      text-align: center;
    }
  }

  .main {
    width: 100vw;
    height: calc(100% - 348px);

    &__item-box {
      width: 700px;
      margin: 0 auto;
      background-color: white;

      &__head {
        padding: 32px 16px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        border-bottom: $BorderBottom;
      }

      .sell-upload-box {
          min-height: 303px;
          padding: $ItemFormPadding;
          border-bottom: $BorderBottom;

          .sell-upload-head {
            @include text-require-position;

            .image-text {
              font-size: 16px;
              font-weight: bold;
              line-height: 1em;
            }
          }

          .picture-limit {
            margin-top: 8px;
            font-size: 12px;
          }

          .image-drop-box {
            width:100%;
            height: 162px;
            background-color: #f5f5f5;
            padding: $ItemFormPadding;
            margin-top: 10px;
            text-align: center;
            border:  1px dashed #ccc;
            position: relative;

            .image-drop-text {
              @include pos-trans-center;
              display: block;
              line-height: 1.5;
              font-size: 14px;
            }
          }
        }

// 商品名と商品の説明
        .sell-content {
          border-bottom: $BorderBottom;
          padding: $ItemFormPadding;

          .input-name {
            @include input-field;
          }

          .input-explanation {
            width: 100%;
            min-height: 104px;
            margin-top: 8px;
            padding: 10px;
            border: $BoderGray;
            font-size: 16px;
            line-height: 1.5;
          }

          // ブランド名
          .input-brand {
            @include input-field;
          }

        // 販売価格
          //価格
          .price-form{
            padding-bottom: 24px;

            .price-left {
              float: left;
              width: 50%;
              line-height: 48px;
            }
            .price-right {
              display: flex;
              justify-content: flex-end;
              width: 50%;
              align-items: center;
              padding-left: 24px;

              .input-price {
                @include input-field;
                width: 100%;
                height: 48px;
                padding: 10px 16px 8px;
                font-size: 16px;
                float: right;
                margin-left: 8px;
                text-align: right;
              }
            }
          }

          //販売手数料
          .fee-form {
            padding: 24px 0;
            border-top: $BoderGray;
            border-bottom: $BoderGray;
            @include flexbox-edge;
          }

          //販売利益
          .profit-form {
            padding: 24px 0;
            font-weight: bold;
            font-size: 16px;
            @include flexbox-edge;
          }

        //出品ボタン
          //注意書き
          .warning-box {
            line-height: 22px;
          }

          //出品ボタン
          .red-btn {
            width: 100%;
            background-color:$RedColor;
            color: white;
            margin-top: 40px;
            line-height: 48px;
          }

          //もどるボタン
          .back-btn {
            width: 45%;
            margin: 24px auto 0;

            .btn-gray {
              background-color: #AAAAAA;
              color: white;
              line-height: 48px;
              display: block;
              text-align: center;
            }
          }
        }
      }
    }
}