.search-listing{
  background-color: #f5f5f5;
}
  .result-content{
    width: 1000px;
    display: flex;
    align-items: stretch;
    margin: 40px auto 0;
    .search-sidebar{
      .search{
        width: 280px;
        margin: 0 40px 0 0;
        height:1315px;
        .search_sort{
          opacity: 1;
          position: static;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 100;
          margin: 0 auto;
          select{
            width: 100%;
            background: #fff;
            text-align: left;
            height: 48px;
            padding: 0 16px;
            border: 1px solid #ccc;
          }
        }
        .search_form{
          margin: 40px 0 0;
          position: static;
          display: block;
          -webkit-box-shadow: none;
          box-shadow: none;
          padding: 16px;
          background-color:#ffffff;
          h3{
            font-size: 16px;
            font-weight: bold;
          }
          .search__group{
            margin: 24px 0 0;
            &--label{
              display: flex;
              i{
                position: relative;
                top: -1px;
                margin: 0 4px 0 0;
                color: #888;
                font-size: 16px;
                vertical-align: middle;
              }
              p{
                font-size: 14px;
                font-weight:bold;
                vertical-align: middle;
              }
            }
            &--form{
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
              display:flex;
            }
            &--checkbox{
              display: inline-block;
              width: 45%;
              vertical-align: middle;
              word-break: break-word;
              margin: 16px 0 0;
              font-size:14px;
              padding-bottom: 5px;
            }
            .search__group--forms{
              display: flex;
            .detail_form-mini{
              width:45%;
            }
            p{
              font-size: 14px;
              margin: auto 10px;
            }
          }
          }
          .search__btns{
            height: 90px;
            padding: 40px 0 0;
            display: flex;
            .search__btn--grey{
              width:111px;
              height:50px;
              background: #aaa;
              border: 1px solid #aaa;
              text-align: center;
              button {
                width: 45%;
                height: 50px;
                background-color: #aaa;
                color: white;
                font-size: 14px;
                cursor: pointer;
                outline: 0;
              }
            }
            .search__btn{
              width:45%;
              line-height: 48px;
              font-size: 14px;
              margin: 0 0 0 10px;

              &--red{
                background: #ea352d;
                border: 1px solid #ea352d;
                color: #fff;
                text-align: center
                }
            }
          }
        }
      }
    }
    .search__result{
      width: 700px;
      &__head {
        margin-bottom: 8px;
        color: black;
        font-size: 22px;
        line-height: 1.4;
      }
      &__description {
        margin-top: 16px;
        color: black;
        font-size: 14px;
        line-height: 1.5;
      }
      &__new {
        margin: 24px 0 8px;
        color: black;
        font-size: 22px;
        font-weight: bold;
        line-height: 1.4;
      }

      &__container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;

      }
    }
  }