.footer{
  padding: 0 20px 10px 20px;
  background: #212121;
  &__content{
    width: 780px;
    margin: 0 auto;
    text-align: center;
    &__box{
      padding: 0 10px;
      height: 270px;
      display: inline-block;
      margin-top: 18px;
      vertical-align: top;
      &__title{
        color: #fff;
        font-size: 14px;
        font-weight: 100;
        text-align: left;
      }
      &__cell{
        list-style: none;
        text-align: left;
        
        &__left{
          vertical-align: top;
          width: 50%;
          float:left;
          white-space: normal;
          &__list{
            @include footer-text;
          }
        }
        &__right{
          vertical-align: top;
          width: 50%;
          float:left;
          white-space: normal;
          &__list{
            @include footer-text;
          }
        }
        &__list{
          @include footer-text;
        }
        &__icon{
          font:30px FontAwesome;
          color: #fff;
          margin: 30px 15px;
        }
      }
    }
    &__sub{
      text-align: left;
      margin-left: 25px;
    }
    &__bottom{
      display: flex;
      margin: 20px auto 0;
      display: inline-block;
      &__icon{
        margin-left: 10px;
        background: image-url("mercari-logo_white.png");
        height:29px;
        width:124px;

      }
      &__copy-right{
        color:#fff;
        display: inline-block;
        width: 745px;
        margin: 8px 0 0;
        text-align: center;
        vertical-align: sub;
        font-size:12px;
        small{
          text-align: center;
        }
      }
    }
  }
}
