.main{
  .slider{
    height: 400px;
    &__box{
      background-image: image-url('/images/header1.png');
      background-position: center;
      background-size: cover;
      &__content{
        font-size: 12px;
        position: absolute;
        padding: 14px, 40px, 20px, 40px;
        margin:0 auto；
      }
    }
  }

  .category{
    height: 120px;
    background-color: white;
    position: relative;
    width: 100vw;
    &__bar{
      padding: 20px,0px,20px;
      &__title{
        font-size: 28px;
        text-align:center;
        margin: auto;
      }
    }
  }
  .pickup{
    &__item{
      width: 940px;
      margin: 0 auto;
      &__category{
        font-size: 22px;
        margin: 26px 11px;
        text-align: center;
        font-weight:bold;
        &__title{
          color: #0099e8;
          text-align: left;
          text-decoration: none;
          float: left;
        &__all{
          padding: 20px 0 30px;
          float: right;
          text-align: right;
          &__link{
            font-size: 10px;
            color: #0099e8;
            }
          }
        }
      }
    }
      &__box{
        clear: both;
        width: auto;
        margin: 0 auto;
        display:inline-block;
        &__content{
          margin: 0 0 0 15px;
          width: 213px;
          display:inline-block;
          &__link{
            z-index: 0;
            position: relative;
            &__figure{
              width: 213px;
              height: 220px;
              &__image{
                width: 213px;
                height: 220px;
              }
            }
            &__red{
              border-top: 50px solid red;
              border-right: 50px solid transparent;
              border-bottom: 50px solid transparent;
              border-left: 50px solid red;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
            }
            &__gray{
              border-top: 50px solid gray;
              border-right: 50px solid transparent;
              border-bottom: 50px solid transparent;
              border-left: 50px solid gray;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
            }
            &__sold{
              top: 18px;
              font-size: 26px;
              position: absolute;
              left: 0;
              z-index: 2;
              color: white;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
              font-size: 20px;
            }
            &__body{
              padding: 16px;
              height: 110px;
              background-color:white;
              &__name{
                overflow: hidden;
                position: relative;
                font-weight: 400;
                font-size: 16px;
                height: 3em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
                text-align:left;
              }
              &__num{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 8px 0 0;
                &__price{
                  font-size: 15px;
                  font-weight: 600;
                  color: #333;
                }
              }
              &__tax{
                font-size: 10px;
                text-align:left;
            }
          }
        }
      }
    }
  }
}