.single-container {
  padding:0 0 250px;

  .single-header{
    text-align: center;
 
   h1{
    display: inline-block;
    margin: 11px 0 12px;
  }
    a{
    display: inline-block;
    width: 120px;
    height: 33px;
    margin: 0 8px 0 0;
    line-height: 33px;
  }
   img {
    width: 120px;
    height: 33px;
  }
 }
  main {
    display: block;
  }
  
    .login-panel {
        max-width: 456px;
        margin: 0 auto;
        background: #fff;
      .login-no-account {
        padding: 24px 32px;
        text-align: center;
       p {
          font-size: 14px;
      }
       a {
        display: block;
        margin: 8px 0 0;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: #fff;
        line-height: 40px;
      }
    }
      }
      .login-form-inner {
        padding: 24px 32px;
        border-top: 1px solid #eee;
        .btn-sns-facebook:first-child {
          margin: 0;
       
          .i[class^='icon-'], i[class*='icon-'] {
            display: inline-block;
            font-family: 'icon-font';
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            .btn-sns i {
              position: absolute;
              top: 50%;
              left: 16px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
          }
        }

      }

      .btn-sns-google {
        margin: 16px 0 0;
        background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
        border: #979797 solid 1px;
        color: #333;
    }

      }

    .form-group{
      .input-default {
        margin: 0;
        width: 100%;
        margin: 8px 0 0;
      }

      .login-form-inner:first-child {
        padding: 24px 32px;
        border: 0;
        
        .form-group:first-child {
          margin: 0;
        
          

        }
      }
    }
  }