.wrapper{
  padding-top: 10px;
  .body{
    color: #f5f5f5;
    .container{
      margin: 40px auto 50px;
      width: 1020px;
      height: 1500px;
      .content{
        float: right;
        width: 700px;
        height: 1292;
        .user {
          width: 100%;
          height: 200px;
          background-image: image-url('mypage-images.png');
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
        
          &__link {
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 45px;
        
            // &:hover {
            //   opacity: 0.7;
        
              h2 {
                color:black;
                font-weight: 300;
              }
        
            &__icon {
              display: block;
              margin: 0 auto;
              border-radius: 50%;
            }
        
            &__nickname {
              margin-top: 8px;
              font-size: 18px;
              text-align: center;
            }
        
            &__review {
              display: inline-block;
              height: 16px;
              margin-top: 4px;
              line-height: 1;
              text-align: center;
        
              div {
                display: inline-block;
                height: 16px;
                color: black;
                font-size: 14px;
                line-height: 1;
                margin-left: 16px;
        
                span {
                  display: inline-block;
                  margin-left: 6px;
                  font-weight: bold;
                  
                }
              }
            }
          }
        }
        
        .mypage-tab-container-todo {
          padding: 0px;
          margin: 0;
          background: #fff;
          // .mypage-tab__head{
          //   background: #fafafa;
          //   font-size: 16px;
          //   line-height: 72px;
          //   padding: 0 16px;
          //   font-size: 100%;
          //   font-weight: normal;
          //   display: block;
          //   margin-block-start: 0.83em;
          //   margin-inline-start: 0px;
          //   margin-inline-end: 0px;
          //   font-weight: bold;
          // }
          .mypage-tabs{
            border: 0;
            background: #eee;
            list-style: none;
            &__active {
              background: #fff;
              width: 50%;
              text-align: center;
              vertical-align: top;
              float: left;
              h3 {
                font-weight: bold;
                font-size: 22px;
                a {
                  border-top: 2px solid #ea352d;
                  position: relative;
                  display: block;
                  color: #333;
                  font-size: 16px;
                  line-height: 72px;
                  text-decoration: none;
                  touch-action: manipulation;
                }
              }
            }
            &__inactive {
              width: 50%;
              display: inline-block;
              text-align: center;
              vertical-align: top;
              h3 {
                font-weight: bold;
                font-size: 22px;
                a {
                  position: relative;
                  display: block;
                  color: #333;
                  font-size: 16px;
                  line-height: 72px;
                  text-decoration: none;
                  touch-action: manipulation;
                }
              }
            }
          }
          .tab-content{
            background-color: #fff;
            display: block;
            min-height: 236px;
            padding: 16px;
            color: #888;
            border-bottom: 1px solid #eee;
            .list__found{
              list-style: none;
              padding: 160px 0 60px;
              text-align: center;
          
              &__time{
                padding-left: 20px;
                width: 664px;
                .listicon1{
                  color: gray;
                }
              }
              .list--icon2{
                color: gray;
                float: right;
              }
            }
          
          .mypage-item {
            position: relative;
            display: block;
            &__list {
              border-bottom: 1px solid #eee;
              &__body{
                left: 10px;
                &__text{
                  border:solid 1px white;
                  padding-left: 70px;
                }
                &__a {
                display: block;
                min-height: 10px;
                padding: 16px;
                color: #333;
                text-decoration: none;
                touch-action: manipulation;
                &__figure {
                  position: relative;
                  overflow: hidden;
                  float: left;
                  width: 48px;
                  height: 48px;
                  margin:0;
                  background: image-url("mercari_profile.png") ;
                  background-size: contain;
                }
                .mypage-item__body{
                  margin: 0 40px 0 68px;
                  &__text {
                    overflow: hidden;
                    max-height: 4.4em;
                    text-overflow: ellipsis;
                    line-height: 1.5;
                  }
                  &__time {
                    display: inline-block;
                    color: #888;
                    &__i {
                      margin: 0 8px 0 0;
                      display: inline-block;
                      font-style: normal;
                      font-weight: 400;
                      font-variant: normal;
                      text-transform: none;
                      line-height: 1;
                    }
                    .span {
                      vertical-align: middle;
                    }
                  }
                }
                .fa-chevron-right{
                  position: absolute;
                  right: 16px;
                  transform: translate(0, -100%);
                }
              }
            }
            .mypage--go--list {
              border: 0;
              position: relative;
              padding: 16px;
              .go {
                display: block;
                height: 60px;
                margin: 0 auto;
                background: #eee;
                color: #333;
                line-height: 60px;
                text-align: center;
                text-decoration: none;
                touch-action: manipulation;
              }
            }
          }
        }
        .mypage-tab__container{
          padding: 40px 0 0;
          background: #f5f5f5;
          .mypage-tab__head {
            background: #fafafa;
            font-size: 16px;
            line-height: 72px;
            padding: 0 16px;
            font-size: 100%;
            font-weight: normal;
            display: block;
            margin-block-start: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            }     
          }
        }
      }
    }
  }
}
}